@page "/AddToken"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config2 config
@using DCMLockerServidor.Shared


<h1>Agregar token a box</h1>

<div style="display: flex; justify-content: right;">
    <button type="button" @onclick="BotonAtras" class="btn btn-outline-info" title="Volver"><FeatherArrowLeft Color="blue" /></button>
</div>
<div class="form-group">
    @if (listaDeLockers != null)
    {
        <label><strong>Locker</strong></label>
        <br />
        <RadzenDropDown @bind-Value=@lockerToken.IdLocker Data=@listaDeLockers ValueProperty="Id" Change="@(setBoxes)">

            <Template Context="context">
                @((context as Locker).NroSerieLocker)
            </Template>
        </RadzenDropDown>
    }
    <br />
    <label><strong>Token</strong></label>
    <input type="text" @bind-value=@lockerToken.Token1 class="form-control form-control-user" />
    @*  @if (listaDeSizes != null)
    {
    <label><strong>Size</strong></label>
    <br />
    <RadzenDropDown @bind-Value=@lockerToken.Size Data=@listaDeSizes >
    <Template Context="context">
    @((context as Size).Name)
    </Template>
    </RadzenDropDown>
    } *@
    <label><strong>Box</strong></label>
    <br />
    @if (lockerToken.IdLocker != null)
    {
        if (listaDeBoxes != null && listaDeBoxes.Count > 0)
        {
            <RadzenDropDown @bind-Value=@lockerToken.IdBox Data=@listaDeBoxes ValueProperty="Id">
                <Template Context="context">
                    @((context as Box).IdFisico)
                </Template>
            </RadzenDropDown>
        }
        else
        {
            <div>No hay boxes disponibles</div>
        }
    }
    else
    {
        <RadzenDropDown @bind-Value=@lockerToken.IdBox Data=@listaDeBoxes Disabled="true" ValueProperty="Id">
            <Template Context="context">
                @((context as Box).IdFisico)
            </Template>
        </RadzenDropDown>
    }
    <br />
    @* <label><strong>Box</strong></label>
    <input type="text" @bind-value=@lockerToken.IdBox class="form-control form-control-user" /> *@
    <label><strong>Fecha de inicio</strong></label>
    <br />
    <RadzenDatePicker @bind-Value=@lockerToken.FechaInicio DateFormat="dd/MM/yyyy" />
    <br />
    <label><strong>Fecha de fin</strong></label>
    <br />
    <RadzenDatePicker @bind-Value=@lockerToken.FechaFin DateFormat="dd/MM/yyyy" />
    <br />
    <label><strong>Modo</strong></label>
    <br />
    <RadzenDropDown @bind-Value=@lockerToken.Modo Data=@listaDeModos TValue="string" />
    <br />
    @if (lockerToken.Modo == "Por cantidad")
    {
        <label><strong>Cantidad</strong></label>
        <input type="number" @bind-value=@lockerToken.Contador class="form-control form-control-user" />
    }
</div>

<br />
<button type="button" class="btn btn-primary btn-user btn-block" @onclick="(() => Save())">Guardar</button>

@code {
    List<Locker> listaDeLockers;
    List<Size> listaDeSizes;
    ICollection<Box> listaDeBoxes;
    Token lockerToken = new();
    List<string> listaDeModos = new List<string> { "Por cantidad", "Por fecha" };

    protected override async Task OnInitializedAsync()
    {
        listaDeLockers = await config.GetListaDeLockers();
        listaDeSizes = await config.GetSizes();

    }

    async Task Save()
    {
        if (lockerToken.FechaFin.HasValue) lockerToken.FechaFin = lockerToken.FechaFin.Value
            .AddHours(23 - lockerToken.FechaFin.Value.Hour)
            .AddMinutes(59 - lockerToken.FechaFin.Value.Minute)
            .AddSeconds(59 - lockerToken.FechaFin.Value.Second);
        if (lockerToken.Modo == "Por fecha") lockerToken.Contador = -1;
        var orta = await config2.AgregarToken(lockerToken);
        NavigationManager.NavigateTo("/token");
    }
    void setBoxes()
    {
        listaDeBoxes = listaDeLockers.Where(x => x.Id == lockerToken.IdLocker).First().Boxes.Where(x => x.Enable == true).ToList();
    }
    void BotonAtras()
    {
        NavigationManager.NavigateTo("/token");
    }
}
