@page "/empresas"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared



@if (listaDeEmpresas != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="8"
                    AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EmptyText="No hay empresas cargadas."
                    Data="@listaDeEmpresas" TItem="Empresa" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="Empresa" Property="CUIT" Title="CUIT" />
                <RadzenDataGridColumn TItem="Empresa" Property="Nombre" Title="Nombre" />
                <RadzenDataGridColumn TItem="Empresa" Property="Descripcion" Title="Descripcion" />
                <RadzenDataGridColumn TItem="Empresa" Property="Direccion" Title="Dirección" />
                <RadzenDataGridColumn TItem="Empresa" Title="Contacto">
                    <Template Context="data">
                        <a>@data.NombreContacto</a><br />
                        <a>@data.Telefono</a><br />
                        <a>@data.Email</a>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Empresa" Width="12vh">
                    <Template Context="data">
                        <button class="btn" title="Gestionar lockers" @onclick="() => gestionarLockers(data.Id)"><FeatherPlus Color="blue" /></button>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Empresa" Width="12vh">
                    <Template Context="data">
                        <button class="btn" title="Editar empresa" @onclick="() => editEmpresa(data.Id)"><FeatherEdit Color="green" /></button>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Empresa" Width="12vh">
                    <Template Context="data">
                        <button class="btn" title="Eliminar empresa" @onclick="() => deleteEmpresa(data)"><FeatherTrash2 Color="red" /></button>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>

        </RadzenDataGrid>
    </div>
}

<br />
<button type="button" class="btn btn-primary btn-user btn-block" @onclick="@(() => NavigationManager.NavigateTo("/AddEmpresa/0"))">Agregar</button>


@code {
    List<Empresa> listaDeEmpresas;

    protected override async Task OnInitializedAsync()
    {
        listaDeEmpresas = await config.GetListaDeEmpresas();
    }

    public void editEmpresa(int id)
    {
        NavigationManager.NavigateTo($"/AddEmpresa/{id}");
    }

    public void gestionarLockers(int id)
    {
        NavigationManager.NavigateTo($"/GestionLockerAEmpresa/{id}");
    }

    public async Task deleteEmpresa(Empresa empresa)
    {
        var rta = await config.DeleteEmpresa(empresa);
        if (rta)
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Éxito", Detail = "La empresa fue borrado con éxito.", Duration = 1500 });
        }
        else
        {
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error", Detail = "No se pudo borrar la empresa.", Duration = 4000 });

        }
        await OnInitializedAsync();
        StateHasChanged();
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}
