@page "/"
@inject NavigationManager NavigationManager
@inject DCMLockerServidor.Client.Cliente.Config config
@using DCMLockerServidor.Shared

<button type="button" class="btn btn-primary btn-user btn-block" @onclick="@(() => NavigationManager.NavigateTo("/AddLocker"))">Agregar uno</button>
<button type="button" class="btn btn-primary btn-user btn-block" @onclick="@(() => NavigationManager.NavigateTo("/AddLockerToken"))">Agregar uno token</button>
<br />
<br />

@if (listaDeLockers != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="8"
                        AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data="@listaDeLockers" TItem="Locker" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="Locker" Property="IpLocker" Title="IpLocker"  />
                <RadzenDataGridColumn TItem="Locker" Property="NumeroCorrespondiente" Title="NumeroCorrespondiente"  />
                <RadzenDataGridColumn TItem="Locker" Property="IdServer" Title="IdServer" />
            </Columns>

        </RadzenDataGrid>
    </div>
}

@if (listaDeLockersToken != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="8"
                    AllowPaging="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    Data="@listaDeLockersToken" TItem="LockerToken" LogicalFilterOperator="LogicalFilterOperator.Or" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="LockerToken" Title="Locker" >
                    <Template Context="data">
                        <a>@data.Locker.IpLocker</a>
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="LockerToken" Property="Token" Title="Token" />
            </Columns>

        </RadzenDataGrid>
    </div>
}



@code{
    string stringAlTxt;
    List<Locker> listaDeLockers;
    List<LockerToken> listaDeLockersToken;

    protected override async Task OnInitializedAsync()
    {
        listaDeLockers = await config.GetListaDeLockers();
        listaDeLockersToken = await config.GetListaDeLockersToken();
    }
    
    async Task Save()
    {
        List<Locker> listaDeLockersParaMandar = new();

        for (int i = 0; i < 5; i++)
        {
            Locker lock0 = new Locker(stringAlTxt, 100, i);
            listaDeLockersParaMandar.Add(lock0);
        }

        var orta = await config.EnviarListaDeLockers(listaDeLockersParaMandar);
    }

}



